{% extends 'base.html' %}
{% load static %}

{% block title %}Tech · {{ BRAND_NAME }}{% endblock %}

{% block content %}
{# TODO: W1 — 아기 사자 작성 영역 #}
<link rel="stylesheet" href="{% static 'css/tech_list.css' %}">

<div class="main">
    <div class="inner">
    <div class="header_row">
  <div class="titlestack">
    <div class="mono">{{page_eyebrow}}</div>
    <div class="h1">{{page_h1}}</div>
  </div>

  <div class="searchbar">
    <div class="small">⌕</div>
     <input class="search_input" type="text" placeholder="search posts…">
    <div class="kbd">⌘K</div>
  </div>
</div>

<div class="categoryfilter">
         <div class="chip">ALL</div>
    {% for category in categories %}
    <div class="chip">
        {{ category.label }}
    </div>
    {% endfor %}
            
        </div>
        <div class="postlist">
            <a href="{% url 'tech_detail' 'design-system-that-fits-the-hand' %}">
                {% for post in posts %}
            <div class="postrow">

        <div class="day">
                {{ post.published_at }} 
        </div>

        <div class="contentcol">

        <div class="h4">
            {{ post.title }}
        </div>

        <div class="r2">
            {{ post.subtitle }}
        </div>

        <div class="tagrow">
               <div class="chip">
                Frontend
               </div>
            {% for tag in post.tags.all %}
                <div class="chip">
                    {{ tag.label }}
                </div>
            {% endfor %}

        </div>

        </div>

        <div class="time">
        {{ post.read_minutes }} min
        </div>

     </div>
    {% endfor %}
           
        </div>
        <div class="rectangle">
        </div>
    </div>
</div>
{% endblock %}

